.top {
    width: 100%;
    background-color: blue;
}
ul{
  list-style: disc;
     color: white;
     
}

/* We're working with the body tag, and so with the WHOLE page */
body
{
    background-image: url("background4.jpg");
    background-size: cover;
    background-repeat: no-repeat;


/*    background-color: cyan;  The page background will be black */
    color: white; /* The page text will be white */
}

a, h2, h3, p {
    color: yellow;
}
